{% extends "cevest/base.html" %}

{% block content %}

<br>
<h2 align="center">Cadastro</h2>

<form name="form" method="POST">
        {% csrf_token %}

    <table align=center>
        <tr><th><label for="cpf">CPF:</label></th><td><input type="text" name="cpf" maxlength="11" required id="cpf" /></td></tr>
        <tr><th><label for="dt_nascimento">Data Nascimento:</label></th><td><input type="text" name="dt_nascimento" maxlength="10" required id="dt_nascimento" /></td></tr>
    </table>
    <center>
        <input type="submit" class="btn btn-primary" value="Pesquisar">
    </center>
</form>

{% endblock %}