{% extends "cevest/base.html" %}

{% block content %}

    <script>
        function verifica() {
            var x;
            var r=confirm("Deseja mesmo descartar?");
            if (r==true) {
    //            x="você pressionou OK!";
                javascript:history.back(1)
            } else {
    //            x="Você pressionou Cancelar!";
            }
    //        document.getElementById("demo").innerHTML=x;
        }
    </script>

    <br>
    <h2 align="center">Cadastro</h2>

    <form method="post" name="form">
        <table align=center>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <center>
            <input type="submit" class="btn btn-primary" value="Salvar">
            <input type="button" class="btn btn-primary" value="Descartar" onclick="verifica()">
        </center>
    </form>

{% endblock %}