{% extends "cevest/base.html" %}

{% block content %}

    <br>
    <h2 align="center">Cadastro</h2>

    <form method="post" name="form">
        <table align=center>
            {% csrf_token %}

 {% for book in object_list %}
    <tr>
    <td>{{ book.name }}</td>
    <td>{{ book.pages }}</td>
    <td><a href="{% url "book_view" book.id %}">view</a></td>
    <td><a href="{% url "book_edit" book.id %}">edit</a></td>
    <td><a href="{% url "book_delete" book.id %}">delete</a></td>
    </tr>
    {% endfor %}







            {{ form.as_table }}
        </table>
        <center>
            <input type="submit" class="btn btn-primary" value="Salvar">
            <input type="button" class="btn btn-primary" value="Descartar" onclick="verifica()">
        </center>
    </form>

{% endblock %}