{% extends 'cevest/cadastro_base.html' %}
{% block preform %}
  <div class="container">
    <div class="py-5 text-center">
      <h2>Formulário de Cadastro</h2>
      <p class="lead">Após preenchido este cadastro, você fará parte de uma lista de interessados em um curso do CEVEST. Assim que uma turma do curso de interesse for oferecida, os alunos selecionados serão contactados por e-mail. Caso não compareça em até 7 dias, outro aluno será chamado para esta vaga. Você pode selecionar mais de um curso. Mesmo concluindo um curso, poderá ser chamado para outro que tenha marcado como sendo também de seu interesse.</p>
    </div>

    {% endblock %}

            {% block endingform %}
          <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
            {% endblock %}