{% extends "cevest/base.html" %}

{% block content %}

  <script language="JavaScript">
    function abrir(URL) {

      var width = 450;
      var height = 400;

      var left = 99;
      var top = 99;

      window.open(URL,'janela', 'width='+width+', height='+height+', top='+top+', left='+left+', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');

    }
  </script>


<div class="container">
    <!-- Conteúdo aqui -->

    <div class="accordion" id="accordionExample">

        {% for l in lista_curso %}
            <div class="card">
                <div class="card-header" id="h{{ l.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c{{ l.id }}" aria-expanded="false" aria-controls="c{{ l.id }}">
                                {{ l.nome }}
                        </button>
                    </h5>
                </div>
            
                <div id="c{{ l.id }}" class="collapse" aria-labelledby="h{{ l.id }}" data-parent="#accordionExample">
                    <div class="card-body">
                        {{ l.descricao|linebreaksbr }}

                        <p>Duração: {{ l.duracao }} Horas</p>
                        <p>Idade mínima: {{ l.idade_minima }} anos</p>
                        <p>Escolaridade mínima: {{ l.escolaridade_minima }}</p>



                        {% if l.pre_requisito.count != 0 %}
                            <p>Pré-requisito:</p>

                            {% for p in l.pre_requisito.all %}
                                    <li>{{ p.descricao }}</li>
                            {% endfor %}

                        {% endif %}

                        <div class=text-right>
                            <a href="javascript:abrir('https://cevest.jlb.net.br/cevest/turma_prevista/{{ l.pk }}');" class="btn btn-outline-primary" role="button" aria-pressed="true">Turma prevista</a>
                            <a href="javascript:abrir('https://cevest.jlb.net.br/cevest/matriz/{{ l.pk }}');" class="btn btn-outline-primary" role="button" aria-pressed="true">Estrutura curricular</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{% endblock %}
