{% extends "cevest/base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-around">
    <div class="col-5">
      O CEVEST - Centro de Formação Profissional e Transferência de Tecnologia para Indústria do Vestuário oferece periodicamente diversos cursos gratuitos.<br>
      <br>
      Para cursar, deverá ser feito um cadastro neste site, selecionando os cursos desejados, assim como o período (manhã, tarde ou noite) que tenha disponível.<br>
      <br>
      Conforme forem sendo oferecidas as turmas, os alunos selecionados serão convocados por e-mail.
    </div>
    <div class="col-5">
      Os critérios para a seleção dos alunos são:<br>
      <br>
      1- Ser beneficiário do programa Bolsa Família;<br>
      2- Estar cadastrado em algum programa de assistência social;<br>
      3- Portador de necessidades especiais;<br>
      4- Estar desempregado;<br>
      5- Ter filhos
    </div>
  </div>
</div>

{% endblock %}
