{% extends "cevest/base.html" %}

{% block content %}

<div class="container">
  <center>
    CRONOGRAMA DE INSCRIÇÕES CEVEST
    <br><br>
    <table border=1>
      <tr>
      <th style="text-align:center">Ação</th>
      <th style="text-align:center">Período</th>
      </tr>
      <tr>
      <td>Divulgação dos resultados (e-mail, site e mural)</td>
      <td style="text-align:center">21 e 22 de janeiro</td>
      </tr>
      <tr>
      <td>Consolidação das inscrições com 1a enturmação (horários divididos por letra)</td>
      <td style="text-align:center">23 a 25 de janeiro</td>
      </tr>
      <tr>
      <td>Consolidação das inscrições com 2a enturmação (horários divididos por letra)</td>
      <td style="text-align:center">29 e 30 de janeiro</td>
      </tr>
      <tr>
      <td>Retorno dos instrutores e apresentação do sistema on-line</td>
      <td style="text-align:center">01 de fevereiro</td>
      </tr>
      <tr>
      <td>Retorno dos instrutores, apresentação do sistema e entrega das pautas completas</td>
      <td style="text-align:center">04 de fevereiro</td>
      </tr>
      <tr>
      <td>Data a partir da qual serão iniciadas as aulas</td>
      <td style="text-align:center">06 de fevereiro</td>
      </tr>
    </table>
  </center>
  <br><br>
</div>

<table>

<div class="row justify-content-around">
  <div class="row justify-content-around">
    <div class="col-5">
      O CEVEST - Centro de Formação Profissional e Transferência de Tecnologia para Indústria do Vestuário oferece periodicamente diversos cursos gratuitos.<br>
      <br>
      Para cursar, deverá ser feito um cadastro neste site, selecionando os cursos desejados, assim como o período (manhã, tarde ou noite) que tenha disponível.<br>
      <br>
      Conforme forem sendo oferecidas as turmas, os alunos selecionados serão convocados por e-mail.
    </div>
    <div class="col-5">
      Os critérios para a seleção dos alunos são:<br>
      <br>
      1- Ser beneficiário do programa Bolsa Família;<br>
      2- Estar cadastrado em algum programa de assistência social;<br>
      3- Portador de necessidades especiais;<br>
      4- Estar desempregado;<br>
      5- Ter filhos
    </div>
  </div>
</div>

{% endblock %}
