<html>
<style>
table, th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}
</style>

{% extends "cevest/base_adm.html" %}

{% block content %}

<div class="main-card mb-3 card">
    <div id="graf_semana" style="width: 100%; height: 450px;"></div>
</div> 

<center>
    {% for indicador in indicadores %}
    <br><br>
    <h3>{{indicador.titulo}}:</h3>
    <table>
        <tr>
        {% for header in indicador.table_headers %}
            <th>{{header}}</th>
        {% endfor %}
        </tr>

        {% for elemento in indicador.lista %}
        <tr>
            {% for valor in elemento %}
                <td>{{valor}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</center>
{% endblock %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Sexo', 'Quantidade'],
            {% for total_sexo in totais_sexo %}
                    ["{{ total_sexo.nome}}",     {{ total_sexo.total }}],
            {% endfor %}
        ]);

        var options = {
          title: 'Distribuição por sexo',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

    </script>

</html>