{% load staticfiles %}
<!doctype html>


<form method="post" name="form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Salvar">
    <h3>Cursos:</h3>
    {% if lista_curso %}
        {% for curso in lista_curso %}
            <input type="checkbox" name="curso{{ curso.id }}" value="{{ curso.id }}">{{ curso.nome }}<br>
        {% endfor %}
    {% else %}
        <p>Nenhum curso disponível.</p>
    {% endif %}
    {% if teste %}
        {% for curso in teste %}
            {{ curso.name }}<br>
        {% endfor %}
    {% else %}
        <p>Nenhum teste disponível.</p>
    {% endif %}
</form>
