<html>
<head>
<style>

.linha {
	width: 30%;
	text-align: center; /* Para o IE */
}

P { border: solid thick #A9A9A9;
    padding: 25px 25px 25px 25px;
    background: #A9A9A9;
    border-radius: 1em }


blockquote {
    max-width: 620px;
    background: url(rs-right.png) right repeat-y;
    text-align: center }

.break { page-break-before: always; }

.tabela { padding: 0px 0px 0px 80px; }

</style>
</head>
<body>

<div class="break">
<br><br>

<h2 align="center">Prefeitura Municipal de Nova Friburgo</h2>
<h3 align="center">Secretaria de Ciência, Tecnologia, Inovação e Educação Profissionalizante e Superior<br>
Centro de Formação Profissional e Transferência de Tecnologia José Pereira da Costa (CEVEST)</h3>

<table align="center">
<tr><td>
    <blockquote><p>
    2019.{{ aluno.id }} - Nome: {{ aluno.nome }} - CPF: {{ aluno.cpf }}
    <br>
    E-Mail: {{ aluno.email }} - Dt. Nascimento: {{ aluno.dt_nascimento}}
    </p></blockquote>
    </td>
    </tr>
    <tr>
    <td class="tabela">
    <br>
    NIS: <b>{{ aluno.nis }}</b> - Bolsa Família: {{ aluno.bolsa_familia }}
     - Quant. Filhos: <b>{{ aluno.quant_filhos }}</b>
    <br>
    <br>
    Sexo: {{ aluno.sexo }}
     - Portador de Necessidades Especiais: {{ aluno.portador_necessidades_especiais }}

    <br><br>
    Celular: {{ aluno.celular }} - Residência: {{ aluno.fixo_residencia }} - Trabalho: {{ aluno.fixo_trabalho }}
    <br><br>
    Desempregado: {{ aluno.desempregado }}
     - Profissao: {{ aluno.profissao }}
     - {{ aluno.outra_profissao }}

    <br><br>
    Escolaridade: {{ aluno.escolaridade }}
    <br><br>
    Endereço: {{ aluno.endereco }}
    Complemento: {{ aluno.complemento }}
    <br><br>
    CEP: {{ aluno.cep }}
    Bairro: {{ aluno.bairro }}
    <br><br>
    Disponibilidade:<b>{{ aluno.disponibilidade }}
    </b><br><br><hr>
    {{ aluno.turma_prevista }}
    
    </td></tr>
</table>
<br>
<center>
<h3>Assumo inteira responsabilidade pelas informações<br>por mim prestadas e que constam desse documento.</h3>
<br><br><br><br><hr class="linha"><br>
{{ aluno.nome }}
</center>

</div>
</body>
<SCRIPT LANGUAGE="JavaScript">
    window.print();
</SCRIPT>
</html>
