{% extends "cevest/base.html" %}

{% block content %}

<div class="container" align="center">
    <h4 align="center">Confira o resultado das alocações no botão abaixo:</h4>
    <p>
        <a href="http://x.jlb.net.br/lista_alocados.php" class="btn btn-danger" role="button" target="_blank">Listagem de Classificação</a>
    </p>

    <div class="card">
        <div class="card-header">
            IMPORTANTE
        </div>

    </div>
</div>

<div class="row justify-content-around">
  <div class="row justify-content-around">
    <div class="col-5">
A ordem de classificação foi realizada automaticamente pelo sistema de pré-matrículas on-line, a partir
dos seguintes critérios, estabelecidos na Portaria no 1.222 de 13 de dezembro de 2018:
<ul>
<li>1. ordem judicial;</li>
<li>2. pessoas com deficiência, na forma da Lei 13.146/2015, até atingir cota de 20% das vagas;</li>
<li>3. pessoas cuja família seja beneficiada pelo Programa Bolsa Família;</li>
<li>4. pessoa cuja família seja beneficiária de programas sociais (informando o NIS);</li>
<li>5. pessoa desempregada (comprovação através da Carteira de Trabalho e Previdência Social);</li>
<li>6. pessoa que tenha filhos.</li>
<li>Em caso de empate, a prioridade foi do aluno com data de inscrição mais antiga.</li>
    </div>
    <div class="col-5">
<p>
Os selecionados serão convocados através de listas disponibilizadas no mesmo link de cadastro e terão do dia 10 ao dia 14 de abril para concluírem a inscrição e garantir a vaga!
</p>
O não comparecimento ao CEVEST para entrega da documentação na data prevista e confirmação da
inscrição implicará na perda da vaga e no seu imediato preenchimento pelos próximos alunos classificados.
<br><br>
As aulas serão iniciadas de acordo com o calendário de cada turma, que será informado no ato da matrícula.
    </div>
  </div>

</div>

{% endblock %}
