{% extends "cevest/base.html" %}

{% block content %}
<!--
    <a href="{% url 'ajax_load_bairros' %}">link text</a>
-->
  <form method="post" id="teste2" data-bairros-url="{% url 'ajax_load_bairros' %}" novalidate>
    {% csrf_token %}
    <table>

        <label>{{form.cidade.label}}</label>
        {{form.cidade.errors}}
        {{form.cidade}}

        <label>{{form.bairro.label}}</label>
        {{form.bairro.errors}}
        {{form.bairro}}
    </table>
    <button type="submit">Save</button>
  </form>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script src="static/cevest/js/main.js"></script> -->

  <script>
        $('.teste').change(function () {
            var url = $("#teste2").attr("data-bairros-url");  // get the url of the `load_cities` view
            alert(url);
            var cidadeId = $(this).val();
                $.ajax({ 
                    url: url,
                    data: {
                        'id':cidadeId,
                    },
                    success: function(data)
                    {
                        $("#id_bairro").html(data);
                    }
                    });
        })
  </script>

{% endblock %}