{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block nav %}
{% include 'nav_cevest_os.html' %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/almoxarifado.css' %}">

{% endblock %}
{% block os %}fw-bolder{% endblock %}
{% block main %}
<div class="row">
  <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">                           
                <div class="row">
                    <div class="col px-4 pb-5 ">                                                
                        <div class="px-2 pt-4 d-flex">
                        <h2 style="display: inline;">Serviços Solicitados</h2>
                        <form method="POST" class="ms-auto my-auto d-flex">                          
                          {% csrf_token %}
                          <input name="valor_da_busca" id="id_valor_da_busca" type="search" class="form-control" placeholder="Buscar" style="width: 300px;  border-radius: 8px !important;">
                          <select name="tipo_da_busca" class="form-select ms-2" id="" style="width: 130px; border-radius: 8px;">
                            <option value=""> Filtro </option>
                            <option value="atendente">Atendente</option>
                            <option value="bairro">Bairro</option>
                            <option value="data">Data</option>
                            <option value="protocolo">Protocolo</option>                            
                            <option value="rua">Rua</option>                                                        
                            <option value="status">Status</option>                                                        
                            <option value="prioridade">Prioridade</option>                                                        
                          </select>
                          <button type="submit" class="btn btn-outline-secondary ms-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                          <a href="#" onclick="imprimir()" class="btn btn-dark ms-2">
                            <i class="fa-solid fa-print"></i>
                          </a> 
                        </form>
                        </div>
                        <div class="px-2 pt-4">                          
                          <table class="table">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Prioridade</th>  
                                <th class="text-center">Tipo</th>                                                              
                                <th class="text-center">Nº de protocolo</th>
                                <th class="text-center">Dt. de solicitação</th>
                                <th>Bairro</th>
                                <th>Atendente</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for os in ordens_de_servico %}
                              <tr>
                                <td>
                                  <input onchange="checkClick(this)" type="checkbox" name="checkbox-{{os.id}}" class="checkbox-ids" data-id="{{os.id}}">
                                </td>                                
                                <td>
                                  <a  href="{% url 'cevest_os:detalhes_os' os.id %}" class="w-100 my-auto py-1 btn {% if os.prioridade == '0'%} btn-success {% elif os.prioridade == '1' %} btn-warning {% elif os.prioridade == '2' %} btn-danger{% endif %}">
                                    {{os.get_prioridade_display}}
                                  </a>
                                </td>
                                <td class="text-center">{{os.tipo.sigla}}</td>                                
                                <td class="text-center">
                                  {% if os.numero %}
                                  {{os.numero}}
                                  {% else %}
                                  {{os.gerar_protocolo}}
                                  {% endif %}
                                </td>
                                <td class="text-center">{{os.dt_solicitacao|date:"d/m/Y"}}</td>
                                <td>{{os.bairro}}</td>                                
                                <td>
                                  {% if os.atendente %}
                                  {{os.atendente.first_name}}
                                  {% else %}
                                  <span class="text-secondary">n/h</span>
                                  {% endif %}
                                </td>
                                <td>
                                  <a href="{% url 'cevest_os:detalhes_os' os.id %}" class="w-100 ms-auto my-auto py-1 px-4 text-capitalize btn {% if os.status == '0'%} btn-info text-white {% elif os.status == '1' %} btn-warning {% elif os.status == '2' %} btn-danger{% elif os.status == 'f' %} btn-dark {% endif %} px-2 py-0">
                                    {{os.get_status_display}}
                                  </a>
                                </td>
                                <td>
                                  <a href="{% url 'cevest_os:detalhes_os' os.id %}" style="text-decoration: none;">
                                    <i class="fa-solid fa-eye"></i>
                                  </a>
                                </td>
                              </tr>
                              {% empty %}
                              <tr>
                                <td colspan="8">
                                  <i class="text-secondary">
                                    Não há solicitações registradas.
                                  </i>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                  
                      {% if ordens_de_servico.has_previous %}
                      {% comment %} <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> {% endcomment %}
                        <li class="page-item"><a class="page-link" href="?page={{ ordens_de_servico.previous_page_number }}">&laquo; anterior</a></li>
                      {% endif %}
                  
                      {% for x in ordens_de_servico.page_range %}
                        <li class="page-item {% if x == ordens_de_servico.number  %} disabled {% endif %}"><a class="page-link" href="?page={{ x }}">{{x}}</a></li>
                      {% endfor %}
                  
                        {% if ordens_de_servico.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ ordens_de_servico.next_page_number }}">próximo &raquo;</a></li>
                          {% comment %} <li class="page-item"><a class="page-link" href="?page={{ ordens_de_servico.paginator.num_pages }}">last &raquo;</a></li> {% endcomment %}
                      {% endif %}
                        </li>
                      </ul>
                      </nav>
                </div>
            </div>
        </div>    
  </div>
</div>
<script>
  document.getElementById('os_index').classList.add('s-nav-active');  

  var listaServicos=[]
  function checkClick(e){
    if(e.checked){
      listaServicos.push(e.dataset.id)
    }else{
      listaServicos.pop(e.dataset.id)
    }    
  }
  function imprimir(){
    let ids=''
    listaServicos.forEach(element => {
      ids=ids+element+'-'
    });
    console.log(ids)
    window.location.assign("/servicos/cevest_o/imprimir/"+ids);
  }
</script>
{% endblock %}