{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/administrativo.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex pt-5">
        <h3>Detalhes do curso {{curso.nome}}</h3>

        <button class="btn btn-primary ms-auto" id="btn_lista_interessados" onclick="showList()">Lista de Interessados</button>

        <button class="btn btn-primary ms-2" id="btn_matriz_curricular" onclick="showMatrix()">Matriz Curricular</button>
    </div>
</div>

<div class="row" id="lista_interessados" style="display: none;">
    <div class="col d-flex pt-3">
        <table class="table">
           <thead>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Bairro</th>
           </thead>
           <tbody>
            {% for interessado in interessados %}
            <tr>
                <td>
                    {{interessado.aluno.pessoa.nome}}
                </td>
                <td>
                    {{interessado.aluno.pessoa.cpf}}
                </td>
                <td>
                    {{interessado.aluno.pessoa.email}}
                </td>
                <td>
                    {{interessado.aluno.pessoa.telefone}}
                </td>
                <td>
                    {{interessado.aluno.pessoa.bairro}}
                </td>
            </tr>
            {% endfor %}
           </tbody>
        </table>
    </div>
</div>

<div class="row" id="matriz_curricular" style="display: none;">
    <div class="col d-flex py-3">
        <table class="table">
            <thead>
             <th>Curso</th>
             <th>Nome</th>
             <th>Nº de aulas</th>
             <th>Carga horária</th>
            </thead>
            <tbody>
             {% for matriz in matrizesCur %}
             <tr>
                 <td>
                     {{matriz.curso}}
                 </td>
                 <td>
                     {{matriz.nome}}
                 </td>
                 <td>
                     {{matriz.n_aulas}}
                 </td>
                 <td>
                     {{matriz.carga_horaria}}
                 </td>
             </tr>
             {% endfor %}
            </tbody>
         </table>
    </div>
</div>



  <script>
        const matriz = document.querySelector("#matriz_curricular")
        const lista = document.querySelector("#lista_interessados")
        
        function showList(){
            matriz.style.display = "none"
            lista.style.display = "flex";
        }

        function showMatrix(){
            lista.style.display = "none"
            matriz.style.display = "flex";
        }

  </script>
{% endblock %}