{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% load custom %}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/administrativo.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                             
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                       <div class="row">
                        <div class="col">
                          <h1 class="text-uppercase">
                            Painel -> CURSOS
                          </h1>
                        </div>
                        <div class="col d-flex">
                            <a href="{% url 'administrativo2' %}" class="btn btn-dark ms-auto my-auto">
                              PAINEL
                            </a>
                        </div>
                       </div>
                        <div class="row px-2 pt-2 d-flex">
                            <div class="col px-0 painel">
                              <a href="{% url 'adm_cursos_cadastrar' %}"><i class="fa-solid fa-plus me-3"></i>NOVA ATIVIDADE</a>
                              <a href="{% url 'adm_cursos_listar' %}" class="ativo">
                                <i class="fa-regular fa-file-lines me-3"></i>LISTAR/EDITAR ATIVIDADES</a>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-12 pt-4">
                            <form class="row px-2" method="POST">
                              <div class="col-12">
                                <div class="d-flex w-100">
                                  <select class="form-select" name="acao" id="acao">
                                    <option value="0">
                                      Realizar ação em lote
                                    </option>
                                    <option value="1">
                                      Encerrar turmas
                                    </option>
                                  </select>
                                  <button class="btn btn-primary px-3 ms-2">
                                    Ir
                                  </button>
                                </div>
                                <div class="w-100 h-100 pt-3 table-responsive">
                                  <table class="table table-striped table-primary">
                                    <thead>
                                      <td>
                                        <input type="checkbox" oninput="checkAll()" name="all" id="all">
                                      </td>
                                      <th>Categoria</th>
                                      <th>Atividade</th>
                                      <th class="text-center">Carga horária</th>          
                                      <th class="text-center">Qnt. Interessados</th>                            
                                      <th class="text-center">Visualizar</th>
                                      <th>Status</th>
                                      <th class="text-center">Editar</th>

                                    </thead>
                                    <tbody>
                                      {% for curso in cursos %}
                                        <tr>
                                          <td>
                                            <input type="checkbox" oninput="selecionar(this)" name="select_curso" value="{{curso.id}}">
                                          </td>
                                          <td>
                                            {{curso.categoria}}
                                          </td>
                                          <td> <a href="{% url 'adm_curso_detalhes' curso.id %}">{{curso.nome}}</a></td>
                                          <td class="text-center">{{curso.carga_horaria}}</td>
                                          <td class="text-center">{{curso.id|qntInteressados}}</td>
                                          <td class="text-center">
                                            <a href="{% url 'adm_curso_visualizar' curso.id %}">
                                              <i class="fas fa-eye"></i>
                                            </a>
                                          </td>
                                          <!-- <td>{{curso.local}}</td>                                           -->
                                          <td>{% if curso.ativo %}
                                              <span class="text-success">Ativo</span>
                                              {% else %}
                                              <span class="text-danger">Inativo</span>
                                              {% endif %}
                                          </td>
                                          <td class="text-center">
                                            <a href="{% url 'adm_curso_editar' curso.id %}">
                                              <i class="fas fa-edit"></i>
                                            </a>
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>                                  
                                </table>
                                </div>
                              </div>                                                                                          
                          </form>
                          </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>


{% endblock %}