{% extends 'template.html' %} {% load bootstrap5 %} {% load static%} 
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/administrativo.css' %}" />{% endblock %} 
{% block administrativo %}fw-bold{% endblock %} 
{% load extras %}
{% block main %}
<div class="row">
  <div class="col d-flex py-5">
    <div class="row w-100">
      <div class="col-10 pb-4 m-auto bg-white">
        <div class="row">
          <div class="col text-dark px-4 pt-4">
            <div class="row">
              <div class="col">
                <h1 class="text-uppercase">Painel -> alunos ({{total_alunos}})</h1>
              </div>
              <div class="col d-flex">
                <a
                  href="{% url 'administrativo2' %}"
                  class="btn btn-dark ms-auto my-auto"
                >
                  PAINEL
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-12 pt-4">
                <form class="row px-2" method="POST">
                  <div class="col-12">
                    <div class="d-flex w-100">
                      {% csrf_token %}
                     <input type="text" name="pesquisa" class="form-control" style="border-radius: 8px !important;" placeholder="Pesquisar aluno pelo nome...">
                      <button class="btn btn-primary ms-1">
                        <i class="fa-solid fa-search"></i>
                      </button>
                    </div>                    
                    <div class="w-100 pt-3 table-responsive">
                      <table class="table table-striped table-primary">
                        <thead>
                          <td>

                          </td>
                          <th>Nome</th>
                          <th>Idade</th>
                          <th>Telefone</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">Ver/Editar</th>
                        </thead>
                        <tbody>
                          {% for aluno in alunos %}
                          <tr>
                            <td>
                               <a class="ms-1" href="https://api.whatsapp.com/send?phone=55{{aluno.pessoa.telefone}}" target="_blank">
                                  <i class="fa-brands fa-square-whatsapp" style="font-size: 18pt; color: forestgreen;"></i>
                              </a>
                            </td>
                            <td>{{aluno.pessoa.nome}}</td>
                            <td>{{aluno.pessoa.dt_nascimento|bg_idade}}</td>
                            <td>{{aluno.pessoa.telefone}}</td>
                            <td class="text-center">{{aluno.pessoa.email}}</td>
                            <td class="text-center">
                              <a
                                href="{% url 'adm_aluno_visualizar' aluno.id %}"
                              >
                                <i class="fa-solid fa-eye"></i>
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col pt-3 text-center">
                        <!-- listagem das páginas -->
                        {% if alunos.has_other_pages %}
                        {% if alunos.has_previous %}
                        <a
                          href="?page={{ alunos.previous_page_number }}"
                          class="btn"
                        >
                          <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        {% endif %}
                        {% for num in alunos.paginator.page_range %}
                        {% if alunos.number == num %}
                        <a href="?page={{ num }}" class="btn btn-dark">
                          {{ num }}
                        </a>
                        {% elif num > alunos.number|add:'-3' and num < alunos.number|add:'3' %}
                        <a href="?page={{ num }}" class="btn btn-outline-secondary">
                          {{ num }}
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% if alunos.has_next %}  
                        <a
                          href="?page={{ alunos.next_page_number }}"
                          class="btn"
                        >
                          <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        {% endif %}
                        {% endif %}

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}