{% extends 'template.html' %} {% load bootstrap5 %} {% load static%} 
{% block nav %}
{% include 'nav_cevest_os.html' %}
{% endblock %}
{% block title %}Listar tipo materiais{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/almoxarifado.css' %}" />

{% endblock %} {% block administrativo %}fw-bold{% endblock %} {% block main %}
<div class="row">
  <div class="col d-flex">
    <div class="row w-100">
      <div class="col-10 pb-4 m-auto bg-white">
       
        <div class="row">
          <div class="col px-4">
            <div class="px-2 d-flex">
              <a class="ms-auto" href="{% url 'cevest_almoxarifado:alm_adicionar_tipo' %}">
                <i class="fa-solid fa-plus me-2"></i>Tipo Material
              </a>
              <a class="ms-4" href="{% url 'cevest_almoxarifado:alm_adicionar_material_ao_estoque' %}">
                <i class="fa-solid fa-plus me-2"></i>Adicionar material
              </a>
              <!-- <a class="ms-4" href="{% url 'cevest_almoxarifado:index' %}">
                <i class="fa-solid fa-rotate-left me-2"></i>Voltar
              </a> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col px-4 pt-4">
            <div class="px-2">
              <h4>Tipos de Materiais</h4>
              <table class="table table-striped table-hover">
                <tbody>
                  {% for tipo in tipos %}
                  <tr>
                    <td class="d-flex align-items-center">
                      <a class="me-2 " href="#"
                        ><i class="fa-solid fa-pen-to-square"></i
                      ></a>
                      <span>{{tipo.nome}}</span>

                      <a class="ms-auto" href="{% url 'cevest_almoxarifado:alm_adicionar_material' tipo.id%}">
                        <i class="fa-solid fa-plus me-2"></i>
                      </a>
                      <button
                        class="btn btn-link p-0"
                        onclick="listar_materiais({{tipo.id}})"
                      >
                      <i class="fa-solid fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col">
            <div class="px-2 pt-4">
              <h4>Materiais</h4>
              <table class="table table-striped">
                <tbody id="material">
                  <tr>
                    <td>
                      <i class="text-secondary">Escolha um tipo de material.</i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col pt-4">
            <a href="{% url 'cevest_almoxarifado:historico' %}">Visualizar histórico de movimentação</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if messages %}              
<!-- MODAL -->
<div class="modal fade" id="resposta" aria-hidden="true" aria-labelledby="respostaLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        {% for message in messages %}
        <div class="modal-header {% if message.tags %}{{message.tags}}{% endif %} border-0">
          <h5 class="modal-title text-dark text-center" id="exampleModalToggleLabel"></h5>
          <button type="button" onclick="myModal.hide();" class="btn-close"></button>
        </div>
        <div class="modal-body px-5 {% if message.tags %}{{message.tags}}{% endif %}">   
           
          <p class="px-4 py-3 text-center">
            {{ message|escape }}
          </p>
          
          
        </div>
        <div class="modal-footer {% if message.tags %}{{message.tags}}{% endif %} border-0">
          
        </div>
        {% endfor %}
      </div>

    </div>
  </div>   
  <script>
   var myModal = new bootstrap.Modal(document.getElementById('resposta'))
   myModal.toggle()
  </script>
  <style>
    .error{
      background-color: rgb(238, 171, 171);
      color: darkred;
      font-weight: 600;
    }
    .success{
      background-color: rgb(182, 238, 171);
      color: rgb(0, 139, 19);
      font-weight: 600
    }
    .warning{
      background-color: rgb(238, 226, 171);
      color: rgb(139, 107, 0);
      font-weight: 600
    }
  </style>
{% endif %} 
<script>
  async function listar_materiais(tipo) {
    const response = await fetch(`/almoxarifado/a/listar-materiais/`,{
      method: 'POST', 
      headers: {
          'X-CSRFToken': '{{ csrf_token }}',
          'Content-Type': 'application/json',
      },
      body: JSON.stringify({tipo}),
    });
    const json = await response.json();
    const materiais = document.querySelector('#material')
    materiais.innerHTML= ""
    if(json.data.length){
      json.data.forEach(e=>{
        const tr = document.createElement('tr');
        const td1 = document.createElement('td');
        const td2 = document.createElement('td');
      
        td1.className = "align-items-center"
        td2.className = "align-items-center text-end"
  
        td1.innerHTML = e.nome
        td2.innerHTML = e.qnt_em_estoque
        tr.appendChild(td1)
        tr.appendChild(td2)
  
        materiais.append(tr)
      })
    } else {
        const tr = document.createElement('tr');
        const td = document.createElement('td');
        td.className = "d-flex align-items-center"
  
        td.innerHTML = "Nenhum material cadastrado"
        tr.appendChild(td)
  
        materiais.append(tr)
    }

  }
</script>
{% endblock %}
