{% extends 'template.html' %}
{% load static %}
{% block title %}{{titulo}}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block main %}
<div id="banner" class="row mx-auto mb-5">
    <div class="col px-0">
      <div class="container pb-5">
    <div class="row">
        <div class="col">
            <h3>DADOS DO CEVEST</h3>
        </div>

        <div class="col text-right">
            <a href="{% url 'administracao:atualizar_dados' %}" class="btn btn-primary" role="button">                
                Atualizar dados
            </a>
            <a href="{% url 'administracao:listar_cursos' %}" class="btn btn-primary" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Voltar
            </a>
        </div>
    </div>

    <div class="row">        
        <div class="col ">
            <img class="img-fluid me-auto" src="/static/cevest/images/alunos-e-matriculas-anual.jpg" alt="">
        </div>
    </div>
    <div class="row px-5">        
        <div class="col  d-flex pl-5">
            <img class="img-fluid mx-auto" src="/static/cevest/images/alunos-e-matriculas-total.jpg" alt="">
        </div>
        <div class="col d-flex pl-5">
            <img class="img-fluid mx-auto" src="/static/cevest/images/alunos-e-matriculas-total.jpg" alt="">
        </div>
    </div>

    

</div>

{% endblock %}