<div id="navegacao" class="container">
  <div class="row">
    <div class="col d-flex flex-wrap">
      <a href="{% url 'cursos:home' %}">
        <div class="d-flex flex-column align-items-center">
          <div id="s-index" class="s-nav rounded-circle {% block index %}{% endblock %}"></div>
          <p class="text-dark">Início</p>
        </div>
      </a>
      <a href="{% url 'cursos:cursos' tipo='cursos' %}">
        <div class="d-flex flex-column align-items-center">
          <div id="s-cursos" class="s-nav rounded-circle"></div>
          <p class="text-dark text-center">Cursos</p>
        </div>
      </a>
      <a href="{% url 'cursos:cursos' tipo='palestras' %}">
        <div class="d-flex flex-column align-items-center">
          <div id="s-palestras" class="s-nav rounded-circle"></div>
          <p class="text-dark">Palestras</p>
        </div>
      </a>
      {% if request.user.is_authenticated %}
      <a href="{% url 'cursos:area_do_estudante' %}">
        <div class="d-flex flex-column align-items-center">
          <div id="s-estudante" class="s-nav rounded-circle"></div>
          <p class="text-dark text-center">Área do<br>estudante</p>
        </div>
      </a>
      {% endif %}
      <a href="https://casadotrabalhador.pmnf.rj.gov.br/" class="ms-auto">
        <div class="d-flex flex-column align-items-center">
          <div id="s-vaga" class="s-nav rounded-circle"></div>
          <p class="text-dark text-center">Casa do<br/>Trabalhador</p>
        </div>
      </a>
      {% if request.user.is_staff %}
      <a href="{% url 'cevest_os:os_index' %}">
        <div class="d-flex flex-column align-items-center">
          <div id="s-servicos" class="s-nav rounded-circle"></div>
          <p class="text-dark">Almoxarifado</p>
        </div>
      </a>  
      <a href="{% url 'administrativo2' %}">
        <div class="d-flex flex-column align-items-center">
          <div id="s-admin" class="s-nav rounded-circle destaque"></div>
          <p class="text-dark">Admin</p>
        </div>
      </a>
      {% endif %}
    </div>
  </div>
</div>
<style>
  @media(max-width: 950px){
    .ms-auto{
      margin-left: 0px !important;
    }
  }
</style>