.container {
    border-radius: 50px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: white;
    background-color: #3A2EDB;
}

.body {
    padding-bottom: 80px;
}

ul{
    list-style: none;
    padding: 0;
}