{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block nav %}
{% include 'nav_cursos.html' %}
{% endblock %}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/administrativo.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                             
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                       <div class="row">
                        <div class="col">
                          <h1 class="text-uppercase">
                            Área do Estudante
                          </h1>
                        </div>
                        <div class="col d-flex">
                            <a href="{% url 'cursos:editar_cadastro' %}" class="btn btn-dark ms-auto my-auto">
                                <i class="fa-solid fa-user-gear me-1"></i> Editar cadastro
                              </a>
                            <a href="#" class="btn btn-dark ms-1 my-auto">
                                <i class="fa-solid fa-list me-1"></i> Ver lista de espera
                              </a>
                        </div>
                       </div>
                        <div class="row px-2 pt-2 d-flex">
                            <div class="col px-0 painel">
                                <!-- <a href="{% url 'adm_turmas_cadastrar' %}"><i class="fa-solid fa-plus me-3"></i>cadastrar TURMA</a>
                                <a href="{% url 'adm_turmas_listar' %}" class="ativo"><i class="fa-regular fa-file-lines me-3"></i>LISTAR/EDITAR TURMAS</a> -->
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-12 pt-4">
                            <form class="row px-2" method="POST">
                              <div class="col-12">
                                <!-- <div class="d-flex w-100">
                                  <select class="form-select" name="acao" id="acao">
                                    <option value="0">
                                      Realizar ação em lote
                                    </option>
                                    <option value="1">
                                      Encerrar turmas
                                    </option>
                                    <option value="1">
                                      Lançar turmas
                                    </option>
                                  </select>
                                  <button class="btn btn-primary px-3 ms-2">
                                    Ir
                                  </button>
                                  <button class="btn btn-primary ms-1">
                                    <i class="fa-solid fa-filter"></i>
                                  </button>
                                </div> -->
                                <div class="w-100 h-100 pt-3 table-responsive">
                                    <h5 class="mb-3">CURSOS INSCRITOS</h5>
                                  <table class="table table-striped table-primary">
                                    <thead>
                                      <td>
                                        
                                      </td>
                                      <th>Turma</th>                                    
                                      <th>Curso</th>
                                      <th>Data Inicial</th>
                                      <th>Data final</th>
                                      <th>Status</th>
                                      <th class="text-center"></th>

                                    </thead>
                                    <tbody>
                                      {% for matricula in matriculas %}
                                        <tr>
                                          <td>                                            
                                          </td>     
                                          <td class="text-uppercase">{{matricula.turma}}</td>                                                                                                  
                                          <td>{{matricula.turma.curso.nome}}</td>
                                          <td>{{matricula.turma.data_inicio|date:"d/m/Y"}}</td>
                                          <td class="">{{matricula.turma.data_final|date:"d/m/Y"}}</td>
                                          <td class="text-center">
                                            {% if matricula.turma.status == 'pre' %}
                                            <div class="bg-danger w-100 rounded text-light">Pré-inscrição</div>
                                            {% elif matricula.turma.status == 'ati' %}
                                            <div class="bg-success w-100 rounded text-light">Ativa</div>
                                            {% elif matricula.turma.status == 'agu' %}
                                            <div class="bg-warning w-100 rounded text-dark">Aguardando</div>
                                            {% elif matricula.turma.status == 'acc' %}
                                            <div class="bg-info w-100 px-3 rounded text-dark">Ativa</div>
                                            {% elif matricula.turma.status == 'enc' %}
                                            <div class="bg-dark w-100 rounded text-light">Encerrada</div>
                                            {% endif %}
                                          </td>
                                          <td class="text-center">
                                            {% if matricula.turma.status == 'enc' %}
                                            <a target="_blank" href="#">                                                
                                                <i class="me-1 fa-solid fa-print"></i>
                                                Certificado
                                            </a>
                                            {% elif matricula.turma.status == 'ati' %}
                                            <a target="_blank" href="#">                                                
                                                <i class="me-1 fa-solid fa-clock"></i>
                                                Horários
                                            </a>
                                            {% elif matricula.turma.status == 'acc' %}
                                            <a target="_blank" href="#">
                                                Horários
                                                <i class="ms-1 fa-solid fa-clock"></i>
                                            </a>
                                            {% else %}
                                            Aguarde
                                            {% endif %}
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>                                  
                                </table>
                                </div>
                              </div>                                                                                          
                          </form>
                          </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<script>
     document.getElementById('s-estudante').classList.add('s-nav-active');
</script>

{% endblock %}