{% extends 'template.html' %}
{% load static %}
{% block nav %}
{% include 'nav_cursos.html' %}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block main %}
<div class="container">
<div class="row mx-auto ps-4 pb-5 pt-1">
  {% include 'slide.html' %}
</div>
<div class="row">
  <div class="col d-flex pe-4 div-container-main">
    <h2 class="ms-5 pt-5 pb-4">Cursos</h2>
    <a class="ms-auto mt-auto mb-5 me-5" href="{% url 'cursos:cursos' tipo='cursos' %}">
      <small>Ver mais</small>
    </a>
  </div>
</div>

<div class="row mx-auto px-5">
  <div class="d-flex flex-wrap justify-content-around">
    {% for curso in cursos %}
    <div class="item d-flex flex-column me-2 div_cursos">
      <div class="c-img" style="position: relative;">
        <img class="banner-img" src="{{curso.banner.url}}" >
      </div>
      <div class="curso-text h-100 mx-2 d-flex flex-column py-1">
        <h6 class="mt-2">{{curso.nome}}</h6>
        <p class="time mt-auto">{{curso.get_tipo_display}} - {{curso.carga_horaria}} {{curso.get_tipo_carga_horaria_display}}{% if curso.carga_horaria > 1 %}s{% endif %}</p>
        <!-- <p class="mb-3 mt-2" style="padding: 0px 10px;">{{curso.descricao}}</p> -->
        <a href="{% url 'cursos:curso_detalhe' tipo=curso.get_tipo_display id=curso.id %}" class="btn btn-outline-primary rounded-1 btn-details py-1 mt-auto mb-3" id="esp-2">Ver detalhes</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col d-flex pe-4 div-container-main">
    <h2 class="ms-5 pt-5 pb-4">Palestras </h2>
    <a class="ms-auto mt-auto mb-5 me-5" href="{% url 'cursos:cursos' tipo='palestras' %}">
      <small>Ver mais</small>
    </a>
  </div>
</div>

<div class="row mx-auto px-5">
  <div class="d-flex flex-wrap">
    {% for curso in palestras %}
    <div class="item me-2">
      <div class="c-img" style="position: relative;">
        <img class="banner-img" src="{{curso.banner.url}}" >
        <span class="badge_item" style="background-color: {{curso.categoria.cor}}; position: absolute; top:0; right: 0; margin: 5px; padding: 0px 4px; border-radius: 6px; font-size: 10pt; color: white;">
          {{curso.categoria.nome}}          
        </span>
      </div>
      <div class="curso-text mx-2 d-flex flex-column py-1">
        <h6 class="mt-2">{{curso.nome}}</h6>
        <p class="time">{{curso.get_tipo_display}} - {{curso.carga_horaria}} {{curso.get_tipo_carga_horaria_display}}{% if curso.carga_horaria > 1 %}s{% endif %}</p>
        <!-- <p class="mb-3 mt-2" style="padding: 0px 10px;">{{curso.descricao}}</p> -->
        <a href="{% url 'cursos:curso_detalhe' tipo=curso.get_tipo_display id=curso.id %}" class="btn btn-outline-primary rounded-1 btn-details py-1 mt-auto mb-3" id="esp-2">Ver detalhes</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row mx-auto px-5">
  <script>
    document.getElementById('s-index').classList.add('s-nav-active');
  </script>
</div>
</div>

<script>
//   const carousel = document.querySelector(".carousel");
// const slides = Array.from(document.querySelectorAll(".slide"));
// const prevButton = document.querySelector("#prev");
// const nextButton = document.querySelector("#next");
// let current_active = 0
// let interval;

// make_active(slides[current_active])

// prevButton.addEventListener('click', () => {cancel_auto_slider(); previous_slide(); start_auto_slide(6000)})

// nextButton.addEventListener('click', () => {cancel_auto_slider(); next_slide(); start_auto_slide(6000)})

// document.querySelector('.slides').addEventListener('mouseover', () => {
//   cancel_auto_slider()})
// document.querySelector('.slides').addEventListener('mouseout', () => {
//   start_auto_slide(4500)
// })

// function next_slide(){
//   const old = current_active
//   if(current_active + 1 > slides.length - 1) current_active = 0
//   else current_active += 1
//   change_slide(slides[old], slides[current_active])
// }

// function previous_slide(){
//   const old = current_active
//   if(current_active - 1 < 0) current_active = slides.length - 1
//   else current_active -= 1
//   change_slide(slides[old], slides[current_active])
// }

// function change_slide(old_element, new_element){
//   make_hidden(old_element)
//   make_active(new_element)
// }

// function make_active(element){
//   element.classList.add("active")
// }

// function make_hidden(element){
//   element.classList.remove('active')
// }

// function start_auto_slide(ms = 4500){
//   interval = setInterval(()=>{
//     next_slide()
//   }, ms)
// }
// start_auto_slide()

// function cancel_auto_slider(){
//   clearInterval(interval)
// }

</script>

{% endblock %}
{% block footer %}
{% include 'instagram_desenvolve.html' %}
{% endblock %}