<footer class="row f-principal mt-auto" style="border-top: 1px solid rgb(184, 184, 184);">        
    <div class="col">
      <div class="row pt-5 pb-4 mobile-flex-column footer-sup text-light">
        <div class="col d-flex flex-column justify-content-center">
          <!-- <img class="img-fluid logo m-auto" id="brasao" src="/static/images/brasao.png" alt=""> -->
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <p class="mx-auto mt-4 text-f">
            Av. Alberto Braune, 225 - Centro, Nova Friburgo - RJ, 28613-001<br>
            09:00 às 17:00 de Seg. à Sex. <br>
            (22) 2521-1558</p>
          <p class="mx-auto mt-4 text-light">
            <a class="text-light" target="_blank" href="https://www.facebook.com/desenvolvenf/">
              <i class="fa-brands fa-facebook me-4 mb-2"></i>
            </a>                
            <a class="text-light" target="_blank" href="https://www.instagram.com/desenvolvenf/">
              <i class="fa-brands fa-instagram me-4 mb-2"></i>
            </a>
          </p>
        </div>
        <div class="col d-flex justify-content-center">
          <!-- <div class="me-5">
            <p class="text-light pb-3 text-center">Plataformas</p>
           
          </div> -->
          <div>
            <p class="text-light pb-3 text-center">Sistemas</p>
            <ul>
             
              <li><a href="https://senhas.novafriburgo.rj.gov.br/login/?next=/">Senhas de Turismo</a></li>              
              <li><a href="https://culturanf.novafriburgo.rj.gov.br/">Mapeamento Cultural</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center py-2 bg-f">
          <a href="#">
            &copy SECRETARIA DE CIÊNCIA, TECNOLOGIA, INOVAÇÃO E EDUCAÇÃO PROFISSIONALIZANTE E SUPERIOR - 2023.
          </a>
        </div>
      </div>
    </div>
</footer> 