<div class="row">
    <div class="col d-flex flex-column bg-dark" style="background-color: #2F2F2F;">
        <!-- <div class="row">
            <div class="col pt-5 d-flex">
                <div class="mx-auto d-flex" style="width: 75%;">
                    <div class="rounded-circle my-4 text-light d-flex" style="border: 1px solid #919191; width: 80px; height: 80px;">
                        <i class="fa-brands fa-instagram m-auto fa-2x"></i>
                    </div>                        
                    <div class="text-light my-auto ms-3 pb-4">
                        <p style="font-weight: 600; font-size: 14pt;">
                            <a style="text-decoration: none; color: white;" href="https://www.instagram.com/desenvolvenf/">@desenvolvenf</a>
                        </p>
                        <p style="font-size: 11pt;">SECRETARIA DE CIÊNCIA, TECNOLOGIA, INOVAÇÃO E EDUCAÇÃO PROFISSIONALIZANTE E SUPERIOR.</p>
                    </div>                         
                </div>
            </div>
        </div> -->
        <!-- SnapWidget -->
        <!-- <script src="https://snapwidget.com/js/snapwidget.js"></script> -->
        <!-- <iframe src="https://snapwidget.com/embed/1025845" class="m-auto snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:60%; "></iframe> -->
        <!-- <a class="btn mx-auto my-5" href="https://www.instagram.com/desenvolvenf/" style="background-color: #0E578E; color: white; font-size: 9   pt;">
            <i class="fa-brands fa-instagram me-2"></i>
            Siga no Instagram
        </a> -->
    </div>
</div> 