{% load static %}
<div id="slideContainer">
    <div class="slide active" style="box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1); border-radius: 30px;">
      <div class="row">
        <div class="banner_destaque d-flex flex-column flex-xl-row bg-white img-txt">
   
            <img class="banner_img_destaque" style="border-radius: 30px;" src="{% static 'images/cevest_banner_01.jfif' %}">
            <div class="py-4 px-5 d-flex flex-column">
              <h3 class="text-center">SEJA BEM VINDO</h3>
              <p class="text-justify my-auto" style="text-indent: 40px;">O CEVEST - Centro de Formação Profissional e Transferência de Tecnologia para Indústria do Vestuário oferece periodicamente diversos cursos gratuitos.
                Para cursar, deverá ser feito um cadastro neste site, selecionando os cursos desejados, assim como o período (manhã, tarde ou noite) que tenha disponível.
                Conforme forem sendo oferecidas as turmas, os alunos selecionados serão convocados por e-mail.</p>
            </div>
        </div>        
      </div>
    </div>
  </div>
  <script>
    
  </script>