{% extends 'template.html' %}
{% load bootstrap5 %}
{% load static%}
{% block title %}BEM VINDO - CURSOS LIVRES{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/administrativo.css' %}">

{% endblock %}
{% block administrativo %}fw-bold{% endblock %}
{% block main %}
<div class="row">
    <div class="col d-flex py-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">
                             
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                       <div class="row">
                        <div class="col">
                          <h1 class="text-uppercase">
                            Painel -> Turmas
                          </h1>
                        </div>
                        <div class="col d-flex">
                            <a href="{% url 'administrativo2' %}" class="btn btn-dark ms-auto my-auto">
                              PAINEL
                            </a>
                        </div>
                       </div>
                        <div class="row px-2 pt-2 d-flex">
                            <div class="col px-0 painel">
                                <a href="{% url 'adm_turmas_cadastrar' %}"><i class="fa-solid fa-plus me-3"></i>cadastrar TURMA</a>
                                <a href="{% url 'adm_turmas_listar' %}" class="ativo"><i class="fa-regular fa-file-lines me-3"></i>LISTAR/EDITAR TURMAS</a>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col pt-4">
                            <div class="d-flex w-100">
                              <div class="d-flex w-100">
                                <h3 style="display: inline;">                                  
                                  {{turma.curso.nome}} {{turma.id}} - {{turma.local}} - {{turma.horario}}                                  
                                </h3>                     
                                <a class="btn btn-outline-dark ms-auto my-auto" href="{% url 'adm_turma_visualizar' turma.id %}">
                                  <i class="me-2 fa-solid fa-rotate-left"></i>
                                  Voltar
                                </a>  
                                {% if request.user.is_superuser %}
                                <button class="btn btn-outline-danger ms-2 my-auto" data-bs-toggle="modal" data-bs-target="#excluir">
                                  <i class="fa-solid fa-trash-can"></i>
                                </button>            
                                {% endif %}
                              </div>                             
                            </div>
                            <form class="row px-2" method="POST">
                              <div class="col">
                                <div class="w-100 h-100">
                                  {% csrf_token %}
                                  {% bootstrap_form form %}
                                </div>
                              </div>                                                            
                              <button class="btn btn-outline-primary mt-3">
                                  Alterar
                              </button>
                          </form>
                          </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="excluir" aria-hidden="true" aria-labelledby="excluirLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger border-0">
          <h5 class="modal-title text-dark text-center" id="excluirLabel">ATENÇÃO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark border-0 pt-5">            
            <p class="text-center"><b>Você tem certeza que deseja excluir esta turma?</b></p>
        </div>
        <div class="modal-footer border-0">
          <a href="{% url 'adm_turma_excluir' turma.id %}" class="btn btn-danger">Sim, tenho certeza.</a>
        </div>
      </div>
    </div>
  </div> 
{% endblock %}