<html>
<style>
table, th, td {
    padding: 8px;
    border: 1px solid black;
}
</style>
{% extends "cevest/base_adm.html" %}

{% block content %}
<h2 align="center">Sistema Administrativo</h2>
<br>

<table>
<tr>
<td>
<h3>Funcionamento do Sistema</h3>
<br>
<b>- CADASTRO DOS ALUNOS -</b>
<br><br>
O aluno fará seu cadastro, informando os cursos desejados e os turnos (manhã, tarde ou noite) que tenha disponibilidade.
<br><br>
Este cadastro ficará armazenado no sistema eternamente.
<br><br>
Conforme forem abrindo turmas (turmas previstas), o sistema buscará neste cadastro todos os alunos que demonstraram interesse no respectivo curso, e que tenha disponibilidade para o turno oferecido.


<br><br>
<b>- TURMAS E SELEÇÃO DOS ALUNOS -</b>
<br><br>
O administrador do sistema deverá criar uma TURMA PREVISTA, e então executar a alocação. Essa alocação selecionará os alunos que tenham marcado interesse no respectivo curso, além de disponibilidade para o turno oferecido.
<br><br>
Caso tenham mais alunos que vagas disponíveis, o módulo de alocação irá priorizar os alunos segundo os critérios apresentados no edital publicado.
<br><br>
Conforme os alunos forem sendo contactados, deverão ter sua situação alterada para "Desistiu da Vaga", "Não compareceu", ou clicar sobre o nome para confirmar o cadastro.
<br><br>
Ao confirmar o cadastro, o aluno terá sua situação alterada para "Matriculado".
<br><br>
Quando se decidir que uma TURMA PREVISTA será realmente oferecida, ou seja, quando quiser confirmar uma TURMA PREVISTA, o administrador do sistema deverá entrar na opção de Confirmar Turmas Previstas para efetivar esta confirmação.
<br><br>
A confirmação de uma TURMA PREVISTA criará um registro na tabela TURMA, e incluirá todos os alunos MATRICULADOS que estavam na relação de alunos da TURMA PREVISTA na relação da TURMA.
</td>
<td>
<b>- CHAMAR MAIS ALUNOS PARA UMA TURMA PREVISTA -</b>
<br><br>
Caso queira convocar mais alunos para completar uma turma prevista, o administrador deverá rodar novamente a alocação para a turma desejada.
<br><br>
A alocação poderá ser executada quantas vezes quiser. Assim, o sistema analisará quantas vagas faltam para completar a turma, e selecionará novos alunos.
<br><br>
Como o sistema verificará quantas vagas sobraram para chamar novos alunos, os candidatos que não compareceram ou abriram mão de suas vagas deverão ter seus status atualizados, sobrando assim vagas para novos candidatos.

<br><br>
<b>- PAUTAS E CERTIFICADOS -</b>
<br><br>
As pautas, lançamento de frequência e certificados só podem ser emitidos sobre turmas confirmadas.

<br><br>
<b>- MONTAGEM DE GRADE CURRICULAR -</b>
<br><br>
Primeiro deverá verificar se já estão incluídas as disciplinas que constarão na matriz curricular. Caso não exista, deverá er incluída.
<br><br>
Na tabela disciplina, o campo carga horária deverá ficar como zero. A carga horária da disciplina será informada ao montar a matriz.
<br><br>
Uma vez tendo já todas as disciplinas incluídas, será montada a grade curricular. Para isso, deverá entrar em Matrizes, adicionando os seguintes campos:
<br><br>
- Currículo: Deixar 1 (Por enquanto só temos as grades curriculares de número 1)
<br>- Curso: Selecionar o curso do qual se está montando a grade.
<br>- Disciplina: Selecionar a disciplina que se deseja que faça parte da grade do respectivo curso.
<br>- Número de aulas: A quantidade de aulas que essa disciplina terá neste curso nessa matriz curricular.
<br>Exemplo: Se a aula é dada em 2 tardes, deverá ser informado 2, se 1 manhã, deverá ser informado 1.
<br>- Carga horária total: Informar a quantidade de horas desta disciplina, multiplicando a quantidade de aulas pela quantidade de horas por aula.
</td>
</tr>
</table>
{% endblock %}
</html>