<html>
<style>
table, th, td {
    padding: 8px;
    border: 1px solid black;
}
</style>

{% extends "cevest/base_adm.html" %}

{% block content %}
<h2 align="center">Sistema Administrativo</h2>
<br>

<center>
<h3>Atualizações do Sistema</h3>

<table align="center" width="80%">
<tr>
<td>
16/06/2020
</td>
<td>
Diversas alterações, como permitir emissão de pautas pelo próprio professor; consultar lista de celulares de alunos de uma turma pelos funcionários da recepção, afastamento do campo data de nascimento do campo quantidade de filhos, e mudança da tela de cadastro e alteração para o feio em Python.
</td>
</tr>
<tr>
<td>
22/01/2020
</td>
<td>
Implantada a opção de encerrar turma, que verificará se ainda há aluno com status CURSANDO. Só será possível emitir certificado para as turmas encerradas.
</td>
</tr>
<tr>
<td>
02/08/2019
</td>
<td>
Foi criada opção para que os instrutores possam listar alunos por turma com número de celular.
</td>
</tr>
<tr>
<td>
18/07/2019
</td>
<td>
Alteração na emissão do certificado. Agora, pode-se informar um CPF para que emita um certificado específico para um aluno. Se CPF não informado, serão emitidos todos os certificados para aquela turma selecionada.
</td>
</tr>
<tr>
<td>
11/07/2019
</td>
<td>
Ajustes no layout do certificado.
</td>
</tr>
<tr>
<td>
07/07/2019
</td>
<td>
Alteração na opção de Aprovação/Reprovação de aluno para que só apareçam as respectivas turmas de cada professor. No caso do usuário ser Administrador, verá todas as turmas.
</td>
</tr>
</table>

</center>
{% endblock %}
</html>