<html>
<style>
table, th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    padding: 8px;
}
</style>

{% extends "cevest/base_adm.html" %}

{% block content %}
<center>
<h3>Mostra alunos formados com celular</h3>
<br>
    <table>
        <th>#</th>
        <th>Curso</th>
        <th>Turma</th>
        <th>Nome</th>
        <th>Celular</th>

        {% for aluno_turma in alunos_turmas %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{aluno_turma.turma.curso.nome}}</td>
            <td>{{aluno_turma.turma.nome}}</td>
            <td>{{aluno_turma.aluno.nome}}</td>
            <td>{{aluno_turma.aluno.celular}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
</center>
{% endblock %}
</html>