<html>
<style>
table, th, td {
    text-align: center;
    border: 1px solid black;
}
</style>

{% extends "cevest/base_adm.html" %}

{% block content %}

<center>
<h2 align="center">Confirmar Turmas Previstas</h2>
<br>

<div>
    <p>{{nome_turma}}</p>
    <form action="" method='POST'>{% csrf_token %}
        {{formset.management_form}}
        <table>
            <th>Nome:</th>
            <th>Confirma:</th>
        {% for form in formset %}
            <tr>
                <td>{{ form.nome.value }}</td>
                <td>{{ form.confirma }}</td>
            </tr>
        {% empty %}
        <p>Não há turmas previstas</p>
        {% endfor %}
        </table>
        <input type='submit' value='Salvar' />
    </form>
</div>

</center>

{% endblock %}

</html>