<html>
<style>
table, th, td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}
</style>

{% extends "cevest/base.html" %}

{% block content %}
<center>

    <table>
        <th>#</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Turma</th>
    {% for aluno_turma in listas %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{aluno_turma.aluno.nome}}</td>
            <td>{{aluno_turma.aluno.cpf}}</td>
            <td>{{aluno_turma.turma_prevista}}</td>

        </tr>
    {% endfor %}
    </table>
    <br>
</center>
{% endblock %}
</html>