{% extends 'template.html' %}
{% block title %}SSUBEA{% endblock %}
{% block css %}
<link rel="stylesheet" href="./static/css/administrativo.css">
{% endblock %}
{% load bootstrap5 %}
{% block main %}
<div class="row">
    <div class="col d-flex pb-5"> 
        <div class="row w-100">
            <div class="col-10 pb-4 m-auto bg-white">            
                <div class="row">
                    <div class="col text-dark px-4 pt-4">
                        <h1 class="text-uppercase">
                          Painel
                        </h1>
                        <div class="row px-4 pt-2 d-flex">
                            <div class="col painel">
                                <a href="{% url 'listar_tutor' %}"><i class="fa-solid fa-users me-3"></i>Tutores</a>
                                <a href="{% url 'cadastrar_catalogo' %}"><i class="fa-solid fa-paw me-3"></i>Cadastrar animal para adoção</a>
                                <a href="{% url 'gerar_token' %}"><i class="fa-solid fa-ticket me-3"></i>Gerar cupons</a>                                                                          
                            </div>
                        </div>

                        <div class="row px-4 d-flex">
                          <div class="col painel">
                            <a href=""><i class="fa-solid fa-graduation-cap me-3"></i>Atividades</a>
                              <a href=""><i class="fa-solid fa-user me-3"></i>Alunos</a>                                                            
                              <a href=""><i class="fa-solid fa-user-graduate me-3"></i>Instrutores</a>          
                          </div>
                      </div>
                      <div class="row px-4 d-flex">
                        <div class="col painel">
                            <a href=""><i class="fa-solid fa-users me-3"></i>Turmas</a> 
                            <a href=""><i class="fa-solid fa-calendar me-3"></i>Eventos</a>                                                          
                            <a href=""><i class="fa-solid fa-chalkboard me-3"></i>Palestras</a>                                                          

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<script>
</script>
{% endblock %}
