.owl-carousel{
    margin-top: 30px;
    width: 98.8vw;
    position: absolute;
    left: 0;
    top: 280px;
}
.owl-carousel .item{
    width: 100%;    
    background-color: rgba(255, 255, 255, 0);
}
.owl-item{
    width: 100vw;
}
.owl-carousel .item img{
    border-radius: 30px;
    width: 100vw;
    height: 395px;
}