{% extends "cevest/base_adm.html" %}

{% block content %}
<br>
<div class="container">

    <div class="row">
        <div class="col">
            <h3>Cursos:</h3>
        </div>

        {% if user.is_superuser %}

        <div class="col text-right">
            <a href="{% url 'administracao:curso_inclui' %}" class="btn btn-primary" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                Inclusão
            </a>
        </div>

        {% endif %}

    </div>

    <table  class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>

            {% for curso in cursos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ curso.id }}</td>
                    <td><a href="{% url 'administracao:curso' curso.id %}">{{ curso.nome }}</a></td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}